@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Sign Up for Appointment", "SignUp", "Sessions")<br />
        @Html.ActionLink("Check Current Appointments", "UsersUpcoming", "Sessions")
    </div>
</div>

@{
    if (ViewBag.IsTutor == true)
    {
        <div class="row">
            <div class="col-md-12">
                <p>For Tutors</p>
                @Html.ActionLink("Check Upcoming Tutoring Sessions", "TutorsUpcoming", "Sessions") <br />
                @Html.ActionLink("Check Work Schedule", "TutorView", "TutorSchedules")
            </div>
        </div>
    }
}