@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Sign Up for Appointment", "SignUp", "Sessions", htmlAttributes: new { @class = "col-md-2" })<br />
        @Html.ActionLink("Check Current Appointments", "UsersUpcoming", "Sessions", htmlAttributes: new { @class = "col-md-2" })
    </div>
</div>

@{
    if (ViewBag.IsTutor == true)
    {
        <div class="row">
            <div class="col-md-12">
                <p>For Tutors</p> <br />
                @Html.ActionLink("Check Upcoming Tutoring Sessions", "TutorsUpcoming", "Sessions", htmlAttributes: new { @class = "col-md-2" }) <br />
                @Html.ActionLink("Check Work Schedule", "TutorView", "TutorSchedules", htmlAttributes: new { @class = "col-md-2" })
            </div>
        </div>
    }
}